<ngb-carousel #carousel interval="100" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" (slide)="onSlide($event)" [pauseOnHover]="pauseOnHover">
    <ng-template ngbSlide *ngFor="let img of randAnime">
        <div class="picsum-img-wrapper">
          <img class="img-size" [src]="img.imageUrl" alt="My image description">
        </div>
        <div class="container" [style.display]="isVisible ? 'block' : 'none'">
          <h2>{{ img.title }}</h2>
          <h5>Studio: {{ img.studio }}</h5>
          <h5>Genre: {{ img.genres }}</h5>
          <p>{{ img.description }}</p>
      </div>
    </ng-template>
    
</ngb-carousel>

<div class="container-fluid wrapper">
    <button mat-button type="button" (click)="togglePaused()">{{paused ? 'Pause' : 'Generate' }}</button>
</div>
