div{
    bottom: 0px;
    background-color: rgb(59, 57, 57);
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
   
}

.jumbotron{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

h2{
    text-align: center;
    color: white;
}